<!-- <onos-topmenu></onos-topmenu>
  <div class="container">
    <onos-default-configuration></onos-default-configuration>
    <div id="mynetwork" #siteConfigNetwork></div>
    <onos-node-popup></onos-node-popup> -->
    <!-- <onos-link-error-popup></onos-link-error-popup> -->
    <!-- <onos-ovs-mesh></onos-ovs-mesh> -->
    <!-- <foothill></foothill> -->
  <!-- </div> -->

  <!-- <div> -->
    <onos-topmenu></onos-topmenu>

    <hr>

    <div class="container">
      <onos-default-configuration></onos-default-configuration>

        <hr>

        <div id="mynetwork" #siteConfigNetwork></div>


        <onos-node-popup></onos-node-popup>
        <onos-link-configuration></onos-link-configuration>
        <onos-link-error-popup></onos-link-error-popup>

        <hr>

        <onos-ovs-mesh></onos-ovs-mesh>
    </div> <!--/.container -->

    <br><br><br><br>
    <!-- <foothill></foothill> -->
<!-- </div> -->
