<div class="row">
  <div class="col-md-4">
      <div class="input-group">
          <span class="input-group-addon">Default Controller</span>
          <input type="text" class="form-control" name="default_controller" id="default_controller" placeholder="e.g. tcp:127.0.0.1:6633" 
                 value="{{default_controller}}" (change)="changeDefaultController($event)"
                 data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="focus"
                 data-content="In order for new value to take effect, change the focus or press Enter."
          >
      </div>
  </div>

  <div class="col-md-4">
      <div class="input-group">
          <span class="input-group-addon">Default Listen</span>
          <input type="text" class="form-control" name="default_listen" id="default_listen" placeholder="e.g. ptcp:6634"
                 value="{{default_listen}}" (change)="changeDefaultListen($event)"
                 data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="focus"
                 data-content="In order for new value to take effect, change the focus or press Enter."
          >
      </div>
  </div>

  <div class="col-md-4">
      <div class="input-group">
          <span class="input-group-addon">Default OFv</span>
          <input type="text" class="form-control" name="default_ofv" id="default_ofv" placeholder="e.g. OpenFlow13"
                 value="{{default_ofv}}" change="changeDefaultOfv($event)"
                 data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="focus"
                 data-content="In order for new value to take effect, change the focus or press Enter."
          >
      </div>
  </div>
</div>