<div>
    <!-- Top menu -->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button> -->
                <a class="navbar-brand" href="javascript:void(0)">TOPOLOGY CREATOR</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="https://bkcs.dynu.net/tuanct/IT4711-TopoCreator" class="item-help" target="_blank">
                        <i class="fa fa-question-circle fa-fw"></i>
                        Help (Guide)
                    </a>
                </li>

                <li>
                    <a href="" class="item-about" id="about" data-toggle="modal" data-target="#about-popup">
                        <i class="fa fa-info-circle fa-fw"></i>
                        About
                    </a>
                </li>

                <li>
                    <a href="https://bkcs.dynu.net/tuanct/IT4711-TopoCreator" class="item-github" target="_blank">
                        <i class="fa fa-github fa-fw"></i>
                        GitHub
                    </a>
                </li>
            </ul>
            <div id="navbar" class="navbar-collapse collapse">

            </div><!--/.navbar-collapse -->
        </div>
    </nav>
    <!-- / Top menu -->


    <!-- About POPUP -->
    <div id="about-popup" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header my-blue-bg">
                    <h4 class="modal-title my-white-font">About TOPOLOGY CREATOR</h4>
                    <button type="button" class="close my-white-font" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                ONOS - Topology Creator was developed using
                                <a href="https://angular.io/" target="_blank">Angular</a> framework and
                                <a href="http://visjs.org" target="_blank">Vis.js</a> visualization library.
                                More details can be found here:
                                <a href="https://bkcs.dynu.net/tuanct/IT4711-TopoCreator" target="_blank">https://bkcs.dynu.net/tuanct/IT4711-TopoCreator</a>.
                            </p>

                            <div class="credits text-center ">
                                <div>
                                    <h4>BASH SCRIPTING</h4>
                                    <a href="https://www.facebook.com/tuanctob48" target="_blank">
                                        Chu Tran Tuan
                                    </a>
                                </div>

                                <div>
                                    <h4>WEB DEVELOPMENT</h4>
                                    <a href="https://www.facebook.com/hiennguyen199x" target="_blank">
                                        Nguyen Duy Hien
                                    </a>
                                </div>
                            </div>
                        </div>




                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" id="cancelButton" class="btn btn-default" style="border-color: #ccc">
                        &nbsp;
                        &nbsp;
                        CLOSE
                        &nbsp;
                        &nbsp;
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- / About POPUP -->
</div>